.calendar-container-content{
    display: flex;
    gap: 10px;
}
.calendar {
    display: flex;
    padding: 30px 50px;
    padding-right:0 ;
    height: calc(85vh + 5px);
    overflow: auto;
    flex: 3;
}
.calendar article{
    width: 100%;
}
.calendar-event{
    flex: 1;
    padding: 0 50px;
}
