.login-container{
    padding-right: 70px;
}
.login-signin-button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.login-container img{
    border-radius: 100%;
}