.time-cells-container{
    display: flex;
    flex-direction: column;
}
.time-cells-container{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px ;
}