@font-face {
  font-family: "Genera";
  src: local("Genera"),
    url("./fonts/Genera-Light.ttf") format("truetype");
  font-weight: light;
}

@font-face {
  font-family: "Genera";
  src: local("GeneraSemibold"),
    url("./fonts/Genera-SemiBold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Aceh";
  src: local("AcehLight"),
    url("./fonts/Aceh-Light.ttf") format("truetype");
  font-weight: light;
}

body {
  margin: 0;
  font-family: "Aceh";
  font-weight: 600;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}